@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
.btn {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    margin: 0px 3px 6px;
    background: #102E39;
    text-align: center;
    border: 2px solid #102E39;
    text-decoration: none;
    color: #102E39;
    white-space: nowrap;
    z-index: 0;
    padding: 16px 28px;
    border-radius: 4px;
}
.btn-bg::before {
    position: absolute;
    content: '';
    background: rgb(255, 255, 255);
    transition-duration: 0.3s;
    z-index: -1;
    inset: 0px 0px auto auto;
    width: 100%;
    height: 100%;
    opacity: 1;
}
.btn-bg:hover::before {
    width: 0px;
    height: 100%;
    opacity: 1;
}
.btn-bg:hover {
    background: #102E39;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
}